
body, html {
    width: 100%;
    height: 100%;
}
/*//background image main container*/
.holder {
    height: 100%;
    width: 100%;
    display: flex;
}
.bank {
    border-left: 1px solid white;
}
.img_one {
    width: 50%;
    height: 750px;
    background-image: url("../img/image three.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    transition: all 1s;
    background-position: center center;
    background-size: cover;
}
.img_two {
    width: 50%;
    height: 750px;
    background-image: url("../img/image three.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    transition: all 1s;
    background-position: center center;
    background-size: cover;
}
